logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

*.sbtserver

# Created by https://www.gitignore.io/api/playframework

### PlayFramework ###
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
