@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(token: String)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Configuration Helper") {

    <link rel="stylesheet" href="styles/androidstudio.css">
    <link rel="stylesheet" href="styles/jquery-combo-box.css">
    <script src="js/jquery-combo-box.js"></script>
    <script src="js/clipboard.min.js"></script>
    <script src="js/highlight.pack.js"></script>
    <script src="js/config-helper.js"></script>

    <div id="select-repo">
        <h1>Select your repository: </h1>
        <select id="combobox"></select>
    </div>
}
