<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default" >
    <head>
        <title>Gnag Gradle Plugin</title>
    </head>
    <body>
        <div layout:fragment="content">
            <link rel="stylesheet" href="styles/androidstudio.css">
            <link rel="stylesheet" href="styles/jquery-combo-box.css">
            <script src="js/jquery-combo-box.js"></script>
            <script src="js/clipboard.min.js"></script>
            <script src="js/highlight.pack.js"></script>
            <script src="js/config-helper.js"></script>

            <div id="select-repo">
                <h1>Select your repository: </h1>
                <select id="combobox"></select>
            </div>
        </div>
    </body>
</html>
