@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Gnag") {

    <div class="header">
        <h1>Gnag is an Open Source Gradle plugin for Android projects that monitors and reports on common violations.</h1>
        <a href="/startAuth" class="github-button">Set up with GitHub</a>
    </div>

    <div class="features">
        <div class="feature">
            <h2>GitHub Integration</h2>
            <p>Integrate with your existing GitHub workflow by allowing Gnag to comment on pull requests.</p>
        </div>

        <div class="feature">
            <h2>Automated Style Checks</h2>
            <p>Gnag comments on style violations so that you can focus on the big picture during code reviews.</p>
        </div>

        <div class="feature">
            <h2>Most Valuable Reviewer</h2>
            <p>Gnag is relentless; reviewing and commenting on code as Pull Requests get opened or updated.</p>
        </div>
    </div>

    <img src="@routes.Assets.versioned("images/github-mockup@2x.png")" width="684" height="682" class="pull-request" alt="Gnag pull request comments">

    <a href="/startAuth" class="github-button">Set up with GitHub</a>

    <div class="readme-callout">
        Looking to use Gnag outside of GitHub?<br>
        Check out the <a href="https://github.com/btkelly/gnag/blob/master/README.md">README</a> for details.
    </div>

}
