@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String, clientId: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#intro">Gnag</a></li>
                    <li><a href="#one">Getting Started</a></li>
                    <li><a href="#two">Contributing</a></li>
                    <li><a href="#three">License</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">

            <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>Gnag</h1>
                <p>A Gradle plugin that helps facilitate GitHub PR checking and automatic commenting of violations for Android projects.</p>
                <ul class="actions">
                    <li><a href="#one" class="button scrolly">Get Started</a></li>
                </ul>
            </div>
        </section>

            <!-- One -->
        <section id="one" class="wrapper style2 spotlights">
            <section>
                <a href="#" class="image"><img src="@routes.Assets.versioned("images/pic01.jpg")" alt="" data-position="center center" /></a>
                <div class="content">
                    <div class="inner">
                        <h2>Sed ipsum dolor</h2>
                        <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="#" class="image"><img src="@routes.Assets.versioned("images/pic02.jpg")" alt="" data-position="top center" /></a>
                <div class="content">
                    <div class="inner">
                        <h2>Feugiat consequat</h2>
                        <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="#" class="image"><img src="@routes.Assets.versioned("images/pic03.jpg")" alt="" data-position="25% 25%" /></a>
                <div class="content">
                    <div class="inner">
                        <h2>Ultricies aliquam</h2>
                        <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

            <!-- Two -->
        <section id="two" class="wrapper style3 fade-up">
            <div class="inner">
                <h2>What we do</h2>
                <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
                <div class="features">
                    <section>
                        <span class="icon major fa-code"></span>
                        <h3>Lorem ipsum amet</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                    <section>
                        <span class="icon major fa-lock"></span>
                        <h3>Aliquam sed nullam</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                    <section>
                        <span class="icon major fa-cog"></span>
                        <h3>Sed erat ullam corper</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                    <section>
                        <span class="icon major fa-desktop"></span>
                        <h3>Veroeros quis lorem</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                    <section>
                        <span class="icon major fa-chain"></span>
                        <h3>Urna quis bibendum</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                    <section>
                        <span class="icon major fa-diamond"></span>
                        <h3>Aliquam urna dapibus</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                </div>
                <ul class="actions">
                    <li><a href="#" class="button">Learn more</a></li>
                </ul>
            </div>
        </section>

            <!-- Three -->
        <section id="three" class="wrapper style1 fade-up">
            <div class="inner" style="max-width: 800px">
                <h2>License</h2>
                <p>
                    Copyright 2016 Bryan Kelly
                </p>
                <p>
                    Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
                    you may not use this file except in compliance with the License.
                    You may obtain a copy of the License at
                </p>
                <p>
                    <a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a>
                </p>
                <p>
                    Unless required by applicable law or agreed to in writing, software
                    distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
                    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
                    See the License for the specific language governing permissions and
                    limitations under the License.
                </p>
            </div>
        </section>

    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                <li>&copy; Gnag. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery.scrollex.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery.scrolly.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/skel.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/util.js")"></script>
    <!--[if lte IE 8]><script src="@routes.Assets.versioned("javascripts/ie/respond.min.js")"></script><![endif]-->
    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>

}
