@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Gnag") {

    <div id="nav-wrapper">
        <div id="nav">
            <img src="@routes.Assets.versioned("images/gnag-bot.png")" width="32" height="32" class="logo" title="Gnag Logo" alt="Gnag" />
            <span class="site-name">Gnag</span>
        </div>
    </div>

    <div id="content">
        <div class="header">
            <h1>Gnag is a Gradle plugin for Android projects that monitors and reports on common violations.</h1>
            <a href="/startAuth" class="github-button">Set up with GitHub</a>
        </div>

        <div class="features">
            <div class="feature">
                <img width="311" height="240" alt="GitHub Integration">
                <h2>GitHub Integration</h2>
                <p>Integrate with your existing GitHub workflow by allowing Gnag to comment on pull requests.</p>
            </div>

            <div class="feature">
                <img width="311" height="240" alt="Automated Style Checks">
                <h2>Automated Style Checks</h2>
                <p>Gnag comments on style violations so that you can focus on the big picture during code reviews.</p>
            </div>

            <div class="feature">
                <h2>Most Valuable Reviewer</h2>
                <p>Gnag is relentless; reviewing and commenting on code as Pull Requests get opened or updated.</p>
            </div>
        </div>

        <img src="@routes.Assets.versioned("images/pull-request.png")" width="682" height="684" class="pull-request" alt="Gnag pull request comments">

        <a href="/startAuth" class="github-button">Set up with GitHub</a>

        <div class="readme-callout">
            Looking to use Gnag outside of GitHub?<br>
            Check out the <a href="https://github.com/btkelly/gnag/blob/master/README.md">README</a> for details.
        </div>
    </div>

}
