@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@title</title>
        <meta name="description" content="Gnag is a Gradle plugin for Android projects that monitors and reports on common violations.">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <link rel="stylesheet" href="@routes.Assets.versioned("css/main.css")">

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    </head>
    <body>

        <div id="nav-wrapper">
            <a href="/" style="color: transparent; text-decoration: none;">
                <div id="nav">
                    <img src="@routes.Assets.versioned("images/gnag-bot-small@2x.png")" width="32" height="32" class="logo" title="Gnag Logo" alt="Gnag" />
                    <span class="site-name">Gnag</span>
                </div>
            </a>
        </div>

        @* And here's where we render the `Html` object containing
         * the page content. *@


        <div id="content-wrapper">
            <div id="content">
                @content
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
			Gnag is licensed under the <a href="https://github.com/btkelly/gnag/blob/master/LICENSE.txt">Apache License.</a><br>
                &copy; Gnag. All rights reserved.
        </footer>

    </body>
</html>
